.manage-patient-container{
    .m-p-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        margin: 10px 0;
    }

    .manage-patient-body{
        padding: 0 20px;

        .table-manage-patient{
            width: 100%;

            th {
                padding: 10px 0;
                text-align: left;
                color: white;
                background-color: #04AA6D;
                border: 1px solid black;
                text-align: center;
            }   
            
            td{
                border: 1px solid black;
                padding: 10px 0;
                text-align: center;
            }

            button{
                border: none;
                outline: none;
                cursor: pointer;
                height: 30px;
                border-radius: 3px;
            }

            .mp-btn-confirm{
                margin-right: 10px;
                background-color: orange;
            }

            .mp-btn-remedy{
                background-color: rgb(0, 157, 255);
            }
        }
    }
}