.manage-specialty-container{
    padding: 0 15px;

    .m-s-title{
        text-align: center;
        margin: 10px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
    }

    .add-new-specialty {
        .btn-save-specialty{
            border: none;
            padding: 8px 5px;
            border-radius: 3px;
            min-width: 75px;
            margin: 15px 0;
            background-color: orange;
        }
    }

}