.home-header-container {
    height: 70px;
    width: 100%;
    padding: 0 40px;

    .home-header-content {
        width: 100%;
        height: 60px;
        padding-top: 10px;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                cursor: pointer;
                height: 40px;
                margin-left: 10px;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 45px;
                cursor: pointer;
                display: flex;
                align-items: center;

                i {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }

            .language-en {
                cursor: pointer;
                margin-left: 10px;
                opacity: 0.2;

                &.active {
                    opacity: 0.8;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}



.home-header-banner {
    background-image: url(../../assets/header-background.jpg);
    height: 527px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .content-up {
        height: 70%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        padding: 45px 0;

        .title1 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 25px;
        }

        .search {
            background-color: #f7d800;
            width: fit-content;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;

            i {
                margin: 0 5px;
            }

            input {
                width: 360px;
                background-color: transparent;
                outline: none;
                border: none;
                height: 30px;
            }
        }
    }

    .content-down {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        padding-bottom: 10px;

        .options {
            display: flex;
            grid-gap: 50px;

            .option-child {
                width: 100px;
                text-align: center;

                .icon-child {
                    background-color: white;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    padding: 10px;
                    margin: 0 auto;

                    i {
                        font-size: 20px;
                        color: #49bce2;
                    }
                }

                .text-child {
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}